* {
	margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid red;
    justify-self: start;
}

header #searchBar {
    position: relative;
    left: 30px;
    width: 500px;
    height: 20px;
    border: 3px solid green;
}

header #sign {
    color: wheat;
    margin: 20px;
    font-size: 20px;
}

#sign a {
    color: wheat;
}

main {
    display: flex;
    margin: 20px;
}

main .album,.player,.lyric {
    margin: 20px;
}

/* album */

.album {
    width: 26%;
    overflow-x: hidden;
}

.album div {
    display: flex;
    margin: 30px;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.album div div {
    position: absolute;
    left: 170px;
    display: inline;
    font-size: 15px;
    margin-left: 70px;
}

.album div img:first-of-type {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.album div img:nth-child(2) {
    width: 118px;
    height: 118px;
    z-index: 1;
    position: absolute;
    left: 110px;
    display: none;
}

.album .current img:nth-child(2) {
    display: inline;
}

/* player */

.player {
    width: 40%;
}

#music {
	width: 480px;
	height: 600px;
	border-radius: 10px;
	margin: 20px auto;
	position: relative;
	background-size: cover;
	text-align: center;
}
#music button {
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
}
#music a {
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    margin: 30px 0;
}
#music button:active {
    position: relative;
    top:2.5px;
}
#music audio{
    display: none;
}
#musicCover{
	width: 200px;
	height: 200px;
	margin: 80px 0;
    border-radius:50%;
    position: absolute;
    top: 93px;
    left: 142px;
    /* z-index: 99; */
}
#recordShell {
    width: 380px;
    height: 380px;
	text-align: center;
	margin: 80px 0;
    border-radius:50%;
    position: relative;
    background: none;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
#rotatedRecord.working {
    background: none;
    animation-name: rotate;
    animation-delay: 1s;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sensor {
    background: none;
    width: 200px;
    position: absolute;
    transform-origin: 150px 48px;
    top: 50px;
    right: 0px;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#sensor {
    transform: rotate(-40deg);
}
#sensor.working {
    transform: rotate(-15deg);
}
.btn {
    width: 20px 0;
    display: flex;
    justify-content: center;
}
#favorite img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
#prev img, #next img{
    width:50px;
    height:50px;
    margin: 0 20px;
}
#play img, #pause img {
    width:80px;
    height:80px;
    margin: 0 25px;
}
#pause img {
    display: none;
}
#piano img {
    width: 42px;
    height: 30px;
    margin-left: 20px;
}
.progress {
    position: relative;
    left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 30px 0;
}
.progress_bar {
    margin-bottom: 80px;
    position: relative;
    width: 75%;
    height: 2px;
    background-color: grey;
    vertical-align: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.now {
    position: absolute;
    width:75%;
    left:0;
    display: inline-block;
    border-radius: 5px;
    height: 2px;
    background: #f72933;
}
.now::after {
    content: '';
    position: absolute;
    left: 100%;
    top:-6px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%
}

/* lyric */

.lyric {
    position: absolute;
    right: 0;
    width: 30%;
    color: white;
    padding: 30px 0;
    font-size: 1.3em;
    text-align: center;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 700px;
}

.lyric::-webkit-scrollbar {
    display: none;
}

.lyric h3 {
    margin: 50px 0;
}

.lyric p {
    margin: 20px 0;
}